<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <% characters.forEach((character) => { %>
    <form action="/characters/<%= character.id %>" class="character">
      <button class="character-box" type="submit"><%= character.name %></button>
    </form>
    <% }) %>
  </body>
</html>

<!-- <a href="/characters/<%=// character.id %>" class="character">
      <div class="character-box"><%=// character.name %></div>
    </a> -->
