<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1><%= place.name %></h1>
    <p><%= place.type %></p>
    <p><%= place.location %></p>
    <p><%= place.rulers %></p>
    <p><%= place.residents %></p>
  </body>
</html>
