<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Adventure Time API | <%= place.name %></title>
  </head>

  <body>
    <h1><%= place.name %></h1>
    <p>Type: <%= place.type %></p>
    <p>Location: <%= place.location %></p>

    <p>Rulers:</p>

    <% if (rulers.length == 0) { %>
      <p>No rulers</p>
    <% } else { %>
      <% rulers.forEach((ruler) => { %>
        <a href="/characters/<%= ruler.id %>">
          <%= ruler.name %>
        </a>
        <br>
      <% }) %>
    <% } %>
    
    <p>Residents:</p>

    <% if (residents.length == 0) { %>
      <p>No residents</p>
    <% } else { %>
      <% residents.forEach((resident) => { %>
        <a href="/characters/<%= resident.id %>">
          <%= resident.name %>
        </a>
        <br>
      <% }) %>
    <% } %>

  </body>
</html>
