<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") %>

  <body>
    <h1><%= place.name %></h1>
    <p>Type: <%= place.type %></p>
    <p>Location: <%= place.location %></p>

    <p>Rulers:</p>

    <% if (rulers.length == 0) { %>
      <p>No rulers</p>
    <% } else { %>
      <% rulers.forEach((ruler) => { %>
        <a href="/characters/<%= ruler.id %>">
          <%= ruler.name %>
        </a>
        <br>
      <% }) %>
    <% } %>
    
    <p>Residents:</p>

    <% if (residents.length == 0) { %>
      <p>No residents</p>
    <% } else { %>
      <% residents.forEach((resident) => { %>
        <a href="/characters/<%= resident.id %>">
          <%= resident.name %>
        </a>
        <br>
      <% }) %>
    <% } %>

  </body>
</html>
