<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1><%= place.name %></h1>
    <p>Type: <%= place.type %></p>
    <p>Location: <%= place.location %></p>
    <p>Rulers: <%= place.rulers %></p>
    <p>Residents: </p>
    <% place.residents.forEach((resident) => { %>
    <form action="/characters/<%= resident.id %>" class="character">
      <button class="character-box" type="submit"><%= resident.name %></button>
    </form>
    <% }) %>
  </body>
</html>
